<div class="card mt-3 mb-3">
  <h4 class="card-header">Inert Atmosphere Oven PDFs</h4>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs"
        role="tablist">
      <%= render partial: "nav_tab",
                 locals: { id: "iao-id",
                           title: "ID Bakesheet" } %>
      <%= render partial: "nav_tab",
                locals: { id: "iao-final",
                          title: "Final Bakesheet" } %>
    </ul>
  </div>
  <div class="tab-content">
    <div class="card-body tab-pane fade"
         id="iao-id"
         role="tabpanel"
         aria-labelledby="iao-id-tab">
      <%= render partial: 'sample_form',
                 locals: { action: "inert_identification_bakesheet" } %>
      <%= render partial: 'post_url',
                 locals: { url: "/inert_identification_bakesheet" } %>
      <p class="card-text">
        The <abbr title="Inert Atmosphere Oven">IAO</abbr> ID bakesheet is used
        to identify parts while they're baking (it is designed to be printed
        and displayed on the front of the oven). To generate the PDF, an array
        of exactly 18 <code>Tray</code> objects must be POSTed via a JSON
        encoded string.
      </p>
      <div class="row">
        <%= render partial: 'object_card',
                   locals: { heading: "Tray",
                             code: "iao_tray" } %>
      </div>
    </div>
    <div class="card-body tab-pane fade"
         id="iao-final"
         role="tabpanel"
         aria-labelledby="iao-final-tab">
      <%= render partial: 'sample_form',
                 locals: { action: "inert_final_bakesheet" } %>
      <%= render partial: 'post_url',
                 locals: { url: "/inert_final_bakesheet" } %>
      <p class="card-text">
        The <abbr title="Inert Atmosphere Oven">IAO</abbr> final bakesheet is
        used to document the baking process and is printed and attached to
        shop orders after parts are baked. To generate the PDF, an object must
        be POSTed via a JSON encoded string. The container object must contain
        three properties: an array of exactly 18 <code>Tray</code> objects, a
        <code>Timestamps</code> object, and an array of <code>Status
        Reading</code> objects.
      </p>
      <div class="row">
        <%= render partial: 'object_card',
                   locals: { heading: "Container",
                             code: "iao_final_object" } %>
        <%= render partial: 'object_card',
                   locals: { heading: "Tray",
                             code: "iao_tray" } %>
      </div>
      <div class="row">
        <%= render partial: 'object_card',
                   locals: { heading: "Timestamps",
                             code: "iao_timestamps" } %>
        <%= render partial: 'object_card',
                   locals: { heading: "Status Reading",
                             code: "iao_status_reading" } %>
      </div>
    </div>
  </div>
</div>